/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.badge_ {
    margin-left: 10px;
    padding: 2px 6px;
    border-radius: 2px;
    color: white;
}

.menu_ {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.cor-01 {
    background-color: #E9E5BE;
}

.cor-02 {
    background-color: #C3E9BE;
}

.cor-03 {
    background-color: #C9EAED;
}

.cor-04 {
    background-color: #C9CBED;
}

.cor-05 {
    background-color: #E7D1F0;
}

.cor-06 {
    background-color: #F0D1EB;
}

.cor-07 {
    background-color: #EBE9B7;
}

.cor-08 {
    background-color: #C6ECD0;
}

.cor-09 {
    background-color: #F4DED7;
}

.cor-10 {
    background-color: #E9E5BE;
}

.cor-11 {
    background-color: #C9CBED;
}

.cor-14 {
    background-color: #C9EAED;
}

.cor-concluida {
    background-color: #DDDDDD;
}

.claro {
    color: #9BAADB;
}

.coluna-mantis {
    width: 5%;
}

.coluna-resumo {
    width: 50%;
}

.coluna-projeto {
    width: 35%;
}

.coluna-atribuido {
    width: 10%;
}


/* #menu {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
  }
   */